.rootContainer {
  display: flex;
  flex-direction: row;
  background-color: #111111;
  border-radius: 20px;
  min-height: 100vh;
  padding: 20px;
}
.leftContainer {
  flex: 1;
  position: relative;
  background-color: red;
  border-radius: 20px;
}
.sampleImage {
  object-fit: cover;
  border-radius: 20px;
}
.rightContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.signup {
  border-radius: 20px;
  height: 50px;
  width: 200px;
  border: 0px solid #ccc;
  background-color: #232323;
  color: white;
  font-size: medium;
}
.createAccount {
  font-family: 'Poppins', sans-serif; /* Clean, modern sans-serif font */
  font-size: 32px;                   /* Adjust size as needed */
  font-weight: 500;                  /* Medium thickness */
  color: #FFFFFF;                    /* White text color */
  background-color: #121212;         /* Dark background as seen in image */
  letter-spacing: -0.5px;            /* Slight negative spacing for a tighter look */
  padding: 20px;
  display: inline-block;
}
.userNameContainer {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
}
.name {
  width: 160px;
  height: 40px;
  border: 0px solid #ccc; /* Set your own border */
  border-radius: 10px; 
  background-color: #232323;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
.name::placeholder {
  color: white;
}
.name:focus {
  /* Defines the thickness, style, and color of the focus ring */
  outline: 2px solid #F5A800; 
}
.lastName {
  margin-left: 20px;
}
.email {
  width: 360px;
  height: 40px;
  margin-top: 20px;
  background-color: #232323;
  border: 0px solid #ccc; /* Set your own border */
  border-radius: 10px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
.email::placeholder {
  color: white;
}
.email:focus {
  /* Defines the thickness, style, and color of the focus ring */
  outline: 2px solid #F5A800; 
}
.createAccountButton {
  width: 320px;
  border: 0px solid #ccc;
  margin-top: 40px;
  color: #190B02;
  font-weight: 500;
  font-size: 18px;
  background-color: #F6C644;
  height: 40px;
  border-radius: 10px;
}